body {
    font-family: Montserrat,sans-serif;
    margin: 0;
    min-width: 320px;
    position: relative;
    display: block;
  
}
header {
    background-color: #fff;
    display: inline;
    padding: 14px 0;
    max-width: 1440px;
    border-bottom: solid;
   
}
.main{
	max-width: 1440px;
	margin: 0 auto;
}
.sectiontop
{
    display:flex;
	flex-direction: row;
    border-bottom:2px rgba(239, 242, 242, 1);

}
.sectionfirst
{
	width: 690px;
	margin-left: 120px;
}
 h1 {
	font-family: Montserrat-Medium,sans-serif;
    font-size: 50px;
	opacity: 0.85;
	margin-bottom: 0;
	margin-top: 30px;
}
.author
{
	font-family: Montserrat-Medium,sans-serif;
	opacity: 0.7;
	margin: 15px 0 15px 0;
}

.container {
    
    margin: 0 auto;
    padding: 14px 5px 0px 5px;
    max-width: 1200px;
    font-family: Montserrat-Medium,sans-serif;
    font-weight: 500;
    gap: 24px;
}
.containerdown {
    
    margin-left: 120px;
    padding: 14px 5px 0px 5px;
    max-width: 1200px;
    font-family: Montserrat-Medium,sans-serif;
    font-weight: 500;
    gap: 24px;
}
.line
{
	margin-left: 120px;	
}
.row
{
    border-bottom: 2px rgba(239, 245, 251, 1);
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    
}
.header_logo {
    display: inline-block;
    height: auto;
    margin-right: 30px;
}

.header_menu
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger {
	position: relative;
	display: none;
	}
.header-list {
    display: flex;
    margin-right: 20px;
   
}
.header-link
{
    text-decoration: none;
    color: rgba(51, 51, 51, 1)
}
.headerlinkhelpbutton
{
    align-items: center;
    background: #e3f5f5;
    border: 1px solid #e3f5f5;
    border-radius: 4px;
    color: #03b2a5;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    overflow: hidden;
    padding: 13px 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin-left: 150px;
   
} 
.linkhelpbutton
{
    align-items: center;
    background: #03b2a5;
    border: 1px solid #e3f5f5;
    border-radius: 4px;
    color: #e3f5f5;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    overflow: hidden;
    padding: 13px 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin-left: 150px;
   
} 
.dropdownmenu {
    display: flex;
    justify-content: center;  
}
.frame
{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.headnaviglist 
{
    font-family: Montserrat-Regular,sans-serif;
    color: rgba(112, 112, 112, 1);
    margin-right: 20px;
    display: flex;
    align-items: center;
       
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;   
}
.contentname 
{
	font-family: Montserrat-Medium,sans-serif;
	opacity: 0.9;
	font-weight: bold;
}
.contentlist
{
	font-family: Montserrat-Medium,sans-serif;
	opacity: 0.7;
}

.content-item::before 
{
color: #03b2a5;
content: "●";
padding-right: 2px;
}
.underline
{
text-decoration: underline;
}
.tags
{
    max-width: 1220px;
	margin: 0 auto;
	padding: 14px 0px 0px 0px;
}
.tags-list
{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	gap: 8px;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 24px;
}
.tags-item
{
    display: flex;
    flex-direction: row;
	align-items: center;
	column-gap: 5px;
	padding: 0;
	color:#2963A3;
	white-space: nowrap;
	font-weight: 400;
}
.blockpicwitktext
{
	display: flex;
	flex-wrap: row nowrap;
}
.textpicwoman
{
 margin-left: 20px;
 margin-top: -15px;
}
.containerfirst
{
    display: flex;
	flex-direction: row;
	margin-bottom: 24px;
    color: rgba(51, 51, 51, 1);
	border-radius: 24px;
    position: relative;
}
.main::before
{   content: url("..\pic\Vector.svg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  
.containersecond
{
    display: flex;
	flex-flow: row wrap;	
	margin-bottom: 24px;
    color: rgba(51, 51, 51, 1);
	border-radius: 24px;
    position: relative;   
   }

h3 {
margin: 0;
font-size: 24px;
font-weight: 700;
color: #333333;
line-height: 32px;
}
.textblue {
    background:	#F3F7FE;
    border-radius: 10px;
     }
.text1
{
    padding: 0 16px 0 16px;
    color: black;
    font-style: italic;
    opacity: 0.7;
    }
.text2
{
padding: 0 16px 0 16px;
font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
}
.blocklist 
{
	font-family: Montserrat-Medium,sans-serif;
	opacity: 0.7;
}
.blocklist-item::before 
{
color: #03b2a5;
content: "●";
padding-right: 2px;
}
.textwithcircle
{
	text-align: center;
	font-style: italic;
	position: relative;
	padding: 10px 20px;
	weight: 482px;
	height: 168px;

}
.textwithcircletop
{
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
	position: absolute;
	z-index: 1;
	margin-top: 30px;
	weight: 482px;
	margin-left:30px;
	margin-right:30px;
}
.circleorange
{
	display:flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 0;
	margin-left: 190px;
}
.text
{
    margin-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
	font-size: 16px;
	color: rgba(51, 51, 51, 1);
}
.textafterpicpeople 
{
font-family: Montserrat-Medium,sans-serif;
	opacity: 0.7;
}
.blockyellow, .blockorange, .blockblue
{
font-family: Montserrat-Medium,sans-serif;
	opacity: 0.9;
    border-radius: 10px;
padding: 14px;
}
.blockyellow
{
background: #FEFAEC
}
.blockorange
{
background:#FFF3EB;
}
.blockblue
{
background: #03B2A51A;
}
.blockorange1
{

font-weight: bold;
}
h2{
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
}

.tag{
	display: inline-flex;
    flex-direction: column;
    margin: 8px 0 0 0;
	gap: 2px;
	position: absolute;
	top: 0;
}
ul
{
    list-style: none;
    padding-inline-start: 5px;
}
li
{
 padding-inline-start: 7px;
}
.container5 
{
display:flex;
flex-wrap: row wrap;
}
.molnia
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	margin-bottom: -10px;
}
.content5
{
padding-right: 15px;
}
.piccontent5
{
	width: auto;
}
.text5, .text6 
{
padding: 0;
width: auto;
}
.tag-item{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
    justify-items: center;
	column-gap: 4px;
    background-color: rgba(255, 255, 255, 0.7);
	border-radius: 24px;
	margin-bottom: 4px;
	padding: 6px 8px;
	color: rgba(51, 51, 51, 1);
	font-weight: 600;
	font-size: 14px;
	width: auto;
}
.tag-itemspecial
{
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 4px;
    background-color: rgba(255, 255, 255, 0.7);
 	border-radius: 24px;
	margin-bottom: 4px;
	padding: 6px 8px;
	color: rgba(51, 51, 51, 1);
	font-weight: 600;
	font-size: 14px;
	width: 60px;
}

.tag-itemspecialsecond
{
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    
	border: 1px solid rgba(193, 197, 205, 1);
	border-radius: 24px;
	margin-bottom: 4px;
	padding: 6px 8px;
	color: rgba(51, 51, 51, 1);
	font-weight: 600;
	font-size: 14px;
	width: 190px;
}
.contentfirst
{
    border: 1px solid rgba(193, 197, 205, 1);
    border-radius: 24px;
}
.button-wrapper{
	display: flex;
	justify-content: center;
}

.more{
	font-weight: bold;
	color: white;
	background-color: rgba(53, 179, 169, 1);
    border: 1px rgba(53, 179, 169, 1);
    font-family: Montserrat-Bold,sans-serif;
    font-weight: 700;
	padding: 12px 73px;
	border-radius: 4px;
	margin-top: 56px;
	margin-bottom: 96px;
}
.sectionsecond
{
width: 285px;
margin-left: 228px;
}

.card1
{
	width: 282px;
}
.card3
{
	margin-bottom: 20px;
}
.card2, .card4
{
border: 1px solid rgba(193, 197, 205, 1);
border-radius: 24px;
position: relative;
width: 282px;
margin-bottom: 20px;
}
.contentcard1 
{
	background: #E6F0FD;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
	margin-bottom: 20px;
	
}
.textspecialcard1
{
	margin: 0;
	font-size: 20px;
	font-weight: 700;
	color: #333333;
	line-height: 24px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: "Montserrat-Bold";
		
}
.contentcard2
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
	position: relative;
}
.contencard4
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
	position: relative;
}
.contencard4
{
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-items: start;
	text-align: start;
	padding: 5px;
	weight: 218px;
}
.namevideo
{
color: #2963A3;
font-size: 18px;
font-weight: 700;
line-height: 26px;
}
.buybutton
{
	align-items: start;
    background: #03b2a5;
    border: 1px solid #e3f5f5;
    border-radius: 4px;
    color: #e3f5f5;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    overflow: hidden;
    padding: 13px 30px;
	margin: 12px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;

}
.opensans
{
	font-family: "OpenSans-Regular", regular;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;

}
.pricetext
{
	color:#333333;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;	
	margin-bottom: 0;
}
.contentcard2down
{
align-items: start;
text-align: start;
}
.textcard2
{
align-items: center;
text-align: center;
position: relative;
}
.textcard2::after
{
	content: url("..\pic\border.svg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.picwomenswim
{
	align-items: center;
	display: inline-flex;
    justify-content: center;
}
.picforcontant, .picforcontant1
{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.picforcontantspecial
{
	display: none;
}
.picforcontantcircle
{
	align-items: center;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-left: 0;
	border-radius: 300px;
}
.rightbutton
{
 align-items: center;
    background: #03b2a5;
    border: 1px solid #e3f5f5;
    border-radius: 4px;
    color: #e3f5f5;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    overflow: hidden;
    padding: 13px 70px;
	margin: 12px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
 }
.yearscard2
{
opacity: 0.5;
font-weight: 500;
line-height: 20px;
font-size: 14px;

}
.listcard2
{
opacity: 0.8;
}
.listcard2::before 
{
color: #03b2a5;
content: "●";
padding-right: 8px;
}
.tag
{
position: absolute;
top: 0;
margin-left: 10px;
}


.problem
{
display: flex;
flex-flow: row nowrap;
margin-bottom: 20px;
}
.blockhelpdown
{
	display: flex;
	flex-flow: row wrap;
	width: 348px;
}
.linkhelpbuttondown
{
	align-items: center;
    background: #03b2a5;
    border: 1px solid #e3f5f5;
    border-radius: 4px;
    color: #e3f5f5;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    overflow: hidden;
    padding: 13px 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.picblockhelpdown
{
	margin-left: 200px;
}
.textcard4
{
	weight: 218px;
	padding: 12px 16px;
}
.picgift
{
position: absolute;
z-index: 1;
margin-top: 173px;
margin-left: 165px;
}
.picgift2
{
position: absolute;
z-index: 2;
margin-top: 187px;
margin-left: 190px;
border-bottom-right-radius: 10px;
}
.Vectorellips
{
height: 606px;
margin-top: 450px;
display: flex;
justify-content: end;
}
/* FOOTER */

.footer{
	display: flex;
	justify-content: center;
	max-width: 100%;
	background-color: rgba(41, 99, 163, 1);
	color: rgba(255, 255, 255, 1);
}

.footer-grid{
	max-width: 1440px;
	padding-left: 98px;
	padding-right: 142px;
	margin: 0;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 91px;
	grid-row-gap: 46px;
	justify-content: center;
}

.feedback
{
width: 486px;
}

.footer-nav-list{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-row-gap: 16px;
	grid-column-gap: 93px;
}

.email-form{
	width: 100%;
}

.send-button{
	width: 100%;
}

.copyright{
	grid-column: 1 / 4;
}

.last-text-list{
	padding-top: 16px;
	border-top: 1px solid rgba(157, 157, 157, 1);	

	display: flex;
	flex-wrap: wrap;
	gap: 48px;
}

.last-text-link{
	color: white;
	font-size: 14px;
	line-height: 20px;
    text-decoration: none;
}

.footer-nav-link{
	color: white;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
    text-decoration: none;
}

.email-place{
	display: flex;
	align-items: center;

	width: 100%;
	height: 48px;

	margin: 8px 0px 8px 0px;
	position: relative;
}

.email-form{
	/*padding: 14px 0px 14px 16px;*/
	padding: 0 0 0 0;
	width: 100%;
	height: 48px;
	color: rgba(157, 157, 157, 1);
    border: rgba(41, 99, 163, 1);
	border-radius: 4px;
	background-color: white;
}

.s-button{
	background-color: rgba(22, 200, 187, 1);
    border: rgba(22, 200, 187, 1);
	border-radius: 4px;
	height: 48px;
	width: 64px;

	position: absolute;
	right: 0;
	top: 0%;
}


.s-button:hover{
	background-color: rgb(19, 168, 158);
	transition: 0.5s;
}

.social-network-wrapper{
	width: 221px;
	height: 122px;
}

.footer-text{
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
}

.smaller{
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.7);
}


.social-network-list{
	display: flex;
	flex-wrap: wrap;

	margin-top: 40px;
	gap: 16px;
}

.last-text-link
{
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.7);
}

/*МЕДИА*/

@media (max-width: 1024px) {
	
	header {
		background-color: #fff;
		padding: 14px 0;
		max-width: 1024px;
		border-bottom: 2px rgba(239, 242, 242, 1);
	   
	}
	.main{
		max-width: 1024px;
		margin: 0 auto;
	}
	.row 
	{
	border-bottom: 2px rgba(239, 245, 251, 1);
		display: flex;
		flex-wrap: nowrap;
		margin-left: 0;
		margin-right: 0;
	}
	.container {
		
		margin: 0 auto;
		padding: 14px 5px 0px 5px;
		max-width: 1024px;
		font-family: "Montserrat-Medium",sans-serif;
  		font-size: 16px;
	
	}

	.header_logo {
		display: inline-block;
		height: auto;
		margin-right: 15px;
		margin-left: 15px;
		max-width: 65px;
	}
	.hamburger {
		position: relative;
		display: none;
	
	}
	.header_menu
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.headnaviglist 
	{
		font-family: Montserrat-Regular,sans-serif;
		color: rgba(112, 112, 112, 1);
		margin: 20px 20px;
		display: flex;
		align-items: center;  
	}
	.header-list {
		display: flex;
		margin-right: 15px;
	}
	.header-link
	{
		text-decoration: none;
		color: rgba(51, 51, 51, 1)
	}
	.headerlinkhelpbutton
	{
		margin-left: 0;
	} 
	.sectionfirst
	{
		width: 714px;
		margin-left: 20px;
	}
	.sectionsecond
{
	width: 222px;
	margin-left: 20px;
}
.card1, .card2, .card4, .card3
{
	width: 222px;
}
.card3
{
	margin-bottom: 20px;
}
.card2, .card4
{
border: 1px solid rgba(193, 197, 205, 1);
border-radius: 24px;
position: relative;
margin-bottom: 20px;
}
.picforcontantspecial
{
	display: none;
}
.rightbutton
{
    padding: 13px 30px;
	margin: 12px 16px;
 }
 .picgift
{
margin-top: 192px;
margin-left: 110px;
}
.picgift2
{
margin-top: 207px;
margin-left: 130px;

}
.buybutton
{
  padding: 13px 20px;
}
.problem
{
display: none;
}

	/* FOOTER */
	
	.footer-grid{
		max-width: 960px;
		padding-left: 38px;
		padding-right: 10px;
		margin: 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 46px;
		justify-content: space-between;
	
	}
	
	.feedback
	{
	width: 384px;
	}
	
	.footer-nav-list{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-row-gap: 16px;
		grid-column-gap: 15px;
	}
	
}


@media  (max-width: 768px) {

	header {
		background-color: #fff;
		display: inline;
		padding: 14px 0;
		max-width: 728px;
		border-bottom: 2px rgba(239, 242, 242, 1);
	   
	}
	.main{
		max-width: 728px;
		margin: 0 auto;
	}
	.container {
		
		margin: 0 auto;
		padding: 14px 5px 0px 5px;
		max-width: 1024px;
		font-family: Montserrat-Medium,sans-serif;
		gap: 24px;
	}
	.row
	{
		border-bottom: 2px rgba(239, 245, 251, 1);
		display: flex;
		flex-wrap: nowrap;
		margin-left: 0;
		margin-right:5px;
		
	}
	.hamburger {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		width: 40px;
		height: 40px;
		background: #fff;
		border: #fff;
		padding: 5px;
		margin-left: 650px;
	}
	  
	  .btn__hamb {
		position: relative;
		display: block;
		width: 100%;
		height: 4px;
		background: #03B2A5;
		cursor: pointer; }
		.btn__hamb div {
		  width: 100%;
		  height: 100%; }
		.btn__hamb:before, .btn__hamb:after {
		  content: "";
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  left: 0;
		  background:  #03B2A5; }
		.btn__hamb:before {
		  top: -8px; }
		.btn__hamb:after {
		  top: 8px; }
	  
	.header_logo {
		display: inline-block;
		height: auto;
		margin-right: 3 px;
	}
	
	.header_menu
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header-list {
		display: none;
		margin-right: 20px;
	   
	}
	.header-link
	{
		text-decoration: none;
		color: rgba(51, 51, 51, 1)
	}
	.headerlinkhelpbutton
	{
	display: none;
	} 
	.picforcontant1
	{
		display: none;
	}
	.picforcontantspecial
	{
		display: flex;
		width: 356px;
	}
	.tags
	{
		display: none;
	}
	
	.sectionfirst
	{
		width: 728px;
		margin-left: 20px;
	}
	.containerfirst
	{
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 24px;
		color: rgba(51, 51, 51, 1);
		border-radius: 24px;
		position: relative;
	}
	.containersecond
	{
		display: flex;
		flex-flow: row wrap;	
		margin-bottom: 24px;
		color: rgba(51, 51, 51, 1);
		border-radius: 24px;
		position: relative;      
	   }
	img {
		max-width: fill-available;
		height: auto;
	}
	
	.tag{
		display: inline-flex;
		flex-direction: column;
		margin: 8px 0 0 0;
		gap: 2px;
		position: absolute;
		top: 0;
	}
	
	.more{
		margin-top: 30px;
		margin-bottom: 50px;
	}
	.Vectorellips
	{
		display: none;
	}
.sectiontop
	{
    display:flex;
	flex-direction: column;
    border-bottom:2px rgba(239, 242, 242, 1);
	}
	.sectionsecond
	{
	width: 782px;
	display: grid;
	grid-template-columns: 0.8fr 1fr;
	grid-row-gap: 16px;
	grid-column-gap: 20px;
	margin-top: 20px;
	}
.card1,.card3
{
	width: 356px;
}

.card2, .card4
{
border: 1px solid rgba(193, 197, 205, 1);
border-radius: 24px;
position: relative;
width: 356px;
margin-bottom: 20px;
}
.contentcard2
{
display: flex;
flex-direction: column;
}
.picgift
{
position: absolute;
z-index: 1;
margin-top: 173px;
margin-left: 245px;
}
.picgift2
{
position: absolute;
z-index: 2;
margin-top: 187px;
margin-left: 230px;
border-bottom-right-radius: 10px;
}
.rightbutton
{
	padding: 10px 100px;
	margin: 12px 36px;}
	/* FOOTER */
	
	.footer-grid{
		max-width: 960px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.feedback
	{
	width: 450px;
	}
	
	.footer-nav-list{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-row-gap: 16px;
		grid-column-gap: 20px;
	}

	.last-text-list{
		padding-top: 16px;
		border-top: 1px solid rgba(157, 157, 157, 1);	
		display: flex;
		flex-wrap: wrap;
		gap: 48px;
	}
	
	.footer-nav-link{
		color: white;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		white-space: nowrap;
		text-decoration: none;
	}
	
	.email-place{
		display: flex;
		align-items: center;
		width: 384px;
		height: 48px;
		margin: 8px 0px 8px 0px;
		position: relative;
	}
	
}

@media  (max-width: 415px) {
	body {
		font-family: Montserrat,sans-serif;
		margin: 0;
		min-width: 320px;
		position: relative;
		display: block;
	  
	}
	header {
		background-color: #fff;
		display: inline;
		padding: 14px 0;
		max-width: 728px;
		border-bottom: 2px rgba(239, 242, 242, 1);
	   
	}
	.main{
		max-width: 414px;
		margin: 0 auto;
	}
	.container {
		
		margin: 0 auto;
		padding: 14px 5px 0px 5px;
		max-width: 374px;
		font-family: Montserrat-Medium,sans-serif;
		gap: 24px;
	}
	.row
	{
		border-bottom: 2px rgba(239, 245, 251, 1);
		display: flex;
		flex-wrap: wrap;
		margin-left: 0;
		margin-right: 0;
		position: relative;
		
	}
	h1
	{
		font-size: 32px;
		margin: 0;
	}
	.hamburger {
		position: relative;
		display: block;
		vertical-align: middle;
		cursor: pointer;
		width: 40px;
		height: 40px;
		background: #fff;
		border: #fff;
		padding: 5px;
		margin-left: 250px;
		
	}
	  
	.header_logo {
		display: inline-block;
		height: auto;
		margin-right: 3px;
		margin-left: 3px;
	}
	
	.header_menu
	{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
	}
	.header-list {
		display: none;
		margin-right: 20px;
	   
	}

	.headerlinkhelpbutton
	{
	display: none;

	} 
	.headnaviglist 
	{
		font-family: Montserrat-Regular,sans-serif;
		color: rgba(112, 112, 112, 1);
		margin: 0;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		font-size: 12px;
	}
	.headnaviglistspecial
	{	max-height: 17px;
		overflow-x: scroll;   
		margin: 0;
	}
	.tags
	{
		max-width: 728px;
		margin: 0 15px;
		padding: 14px 0px 0px 0px;
	
	}
	.tags-list
	{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 8px;
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 24px;
		overflow-x: auto;
	}
	.tags-item
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 8px;
		padding: 6px 8px;
		color: rgba(51, 51, 51, 1);
		border: 1px solid rgba(193, 197, 205, 1);
		border-radius: 24px;
		white-space: nowrap;
	}
	.tags-item-self
{
    display: flex;
    flex-direction: row;
	align-items: center;
	column-gap: 5px;
	padding: 6px 8px;
	color: rgba(51, 51, 51, 1);
	border: 3px solid  #03b2a5;
	border-radius: 24px;
	white-space: nowrap;

}
.tags-item-special
{
	margin-right: 20px;
}
	.containerfirst
	{
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 24px;
		color: rgba(51, 51, 51, 1);
		border-radius: 24px;
		position: relative;
	}
	.container5 
	{
	display:flex;
	flex-direction: column;
	}
	.containersecond
	{
		display: flex;
		flex-direction: column;
		margin-bottom: 24px;
		color: rgba(51, 51, 51, 1);
		border-radius: 24px;
		position: relative;   
	}
		
	.tag{
		display: inline-flex;
		flex-direction: column;
		margin: 8px 0 0 0;
		gap: 2px;
		position: absolute;
		top: 0;
	}

	.tag-item{
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		justify-items: center;
		column-gap: 4px;
		background-color: rgba(255, 255, 255, 0.7);		
		border-radius: 24px;
		margin-bottom: 4px;
		padding: 6px 8px;
		color: rgba(51, 51, 51, 1);
		font-weight: 600;
		font-size: 14px;
		width: auto;
	}
	
	.more{
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.blockpicwitktext
	{
		display: flex;
		flex-direction: column;
	}
	.picwomane {
	height: 100%;
	width: 100%;
	}
	.picwomanediv
	{
	background-color: #fff;
	max-height: 380px;
	max-width: 374px;
	overflow: hidden;
	}
	.sectionfirst
{
	width: 374px;
	margin-left: 20px;
}
.textpicwoman
{
 margin-left: 0;
 margin-top: -15px;
 margin-bottom: -15px;
}

.circleorange
{
	display:flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 0;
	margin-left: 50px;
}
.textwithcircletop
{
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
	position: absolute;
	z-index: 1;
	margin-top: 0;
	max-width:100%;
}
.textwithcircle
{
	text-align: center;
	font-style: italic;
	position: relative;
	max-width: 374px;
	height: 168px;
	padding: 0;
}
.sectionsecond
{
width: 374px;
margin-left: 228px;
display: flex;
flex-direction: column;
margin-left: 20px;
}

.card1
{
	width: 374px;
}
.card3
{
	margin-bottom: 20px;
	width: 374px;
	padding-left: 10px;
}
.card2, .card4
{
border: 1px solid rgba(193, 197, 205, 1);
border-radius: 24px;
position: relative;
width: 374px;
margin-bottom: 20px;
}
.contentcard1 
{
	background: #E6F0FD;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
	margin-bottom: 20px;
	
}
.picgift
{
position: absolute;
z-index: 1;
margin-top: 153px;
margin-left: 260px;
}
.picgift2
{
position: absolute;
z-index: 2;
margin-top: 167px;
margin-left: 280px;
border-bottom-right-radius: 10px;
}
ul
{
    list-style: none;
    padding-inline-start: 0px;
}
.blocklist-item::before 
{
padding-right: 2px;
}
	/* FOOTER */
	
	.footer{
		display: flex;
		justify-content:space-between;
		max-width: 100%;
		background-color: rgba(41, 99, 163, 1);
		color: rgba(255, 255, 255, 1);
	}
	.footer-grid{
		max-width: 960px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.feedback
	{
	width: 375px;
	}
	
	.footer-nav-list{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-row-gap: 16px;
		grid-column-gap: 93px;
	}
	
	.last-text-list{
		padding-top: 16px;
		border-top: 1px solid rgba(157, 157, 157, 1);	
		display: flex;
		flex-direction: column;
		gap: 48px;
	}

}

